// colors
$pinkMain: #FF3D87;
$yellowMain: #FFD409;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// z-index
$z-index: (
  header: 4,
  aside: 2,
  overlay: 1,
  footer: 3
)